body{ 
    background-color: #E5E5E5;
    margin: 0;
    font-family: sans-serif;
    font-size: 1.4rem;
}

.header{ /* Color, forma y posición del header */
    background-color: #FFFFFF;
    border-radius: 0rem 0rem 2rem 2rem;
    box-shadow: 0px 10px 10px #ccc;
    display: flex;
    justify-content: flex-start;
    padding: 2rem 2rem 2rem 3rem;
}

.logo{ /* Tamaño del logo */
    max-height: 100%;
    max-width: 100%;
    width: 17rem;
}

.search{ /* Color, forma, posición del contenido y posición del buscador */
    background-color: #FFFFFF;
    display: flex;
    margin: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0px 10px 10px #ccc;
    flex-wrap: wrap;
}

.box{ /* textbox */
    border: 1px solid #981B15;
    border-radius: 2rem;
    width: 19rem;
    padding: 1rem 1rem;
}

.link { /* Botón de busqueda */
    border: 1px solid #981B15;
    border-radius: 2rem;
    padding: 1rem 0rem;
    color: white;
    background-color: #981B15;
    text-align: center;
    max-width: 82%;
    width: 9rem;
}

.space{ /* Espaciado para botón de busqueda */
    margin-left: 1rem;
}

.image{ /* Color, forma, posición del contenido y posición del resultado de la busqueda */
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 2rem;
    max-width: 22rem;
    border-radius: 2rem;
    box-shadow: 0px 10px 10px #ccc;
    align-items: center;
    padding: 0rem 0rem 2rem 0rem;
}

.img2{ /* Tamaño imagen */
    max-width: 100%;
}