body{
    background-color: #E5E5E5;
    margin: 0;
    font-family: sans-serif;
}

.header{ /* Color, forma y posición del header */
    background-color: #FFFFFF;
    border-radius: 0rem 0rem 2rem 2rem;
    box-shadow: 0px 10px 10px #ccc;
    display: flex;
    justify-content: flex-start;
    padding: 2rem 2rem 2rem 3rem;
}

.logo{ /* Tamaño del logo */
    max-height: 100%;
    max-width: 100%;
    width: 17rem;
}

.info{ /* Color, forma, posición del contenido y posición de la infromación del personaje */
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    margin: 1rem 2rem;
    border-radius: 2rem;
    align-items: center;
    padding: 1.5rem 2.5rem 3rem 3rem;
    flex-wrap: wrap;
    box-shadow: 0px 10px 10px #ccc;
}

.img{ /* Tamaño de la imagen del personaje */
    max-width: 100%;
}

.text{ /* Posición y tamaño del texto */
    max-width: 70%;
    font-size: 1.1rem;
}

.banner{ /* Posición del contenido del banner de imagenes */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 2rem 0rem;
}

.container-img{ /* Color, forma y posición del contenido */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFE;
    padding: 0rem 0rem 2rem 0rem;
    border-radius: 2rem;
    box-shadow: 0px 10px 10px #ccc;
    max-width: 21rem;
    margin-bottom: 1rem;
}

.img2{ /* Tamaño de la imagen del banner */
    max-width: 100%;
}

.link { /* Botón del banner */
    border: 1px solid #981B15;
    border-radius: 2rem;
    padding: 1rem;
    color: white;
    background-color: #981B15;
    text-align: center;
    max-width: 82%;
    width: 5rem;
}